h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: yellow;
    font-weight: bold;
    font-style: italic;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p{
    color: #4D4D4D;
}
.first{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
}
a{
    color: #8A2BE2;
    text-decoration: none;
}
header{
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 40%;
    background-position: center;
    background-size: cover;
}
img{
    max-width: 50%;
}
article{
    border: red 10px;
    border-left: red 30px;
    border-style: solid;
    border-radius: 20px;
}