#een{
    background-color: green;
    height: 40px;
    width: 40px;
    margin: 5px;
}
#twee{
    background-color: red;
    height: 40px;
    width: 40px;
    margin: 5px;
}
#drie{
    background-color: black;
    height: 40px;
    width: 40px;
    margin: 5px;
}
#vier{
    background-color: blue;
    height: 40px;
    width: 40px;
    margin: 5px;
}
.flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .flex-container2 {
    display: flex;
    justify-content: center;
    .mid{
      justify-self: space-evenly;
    }
  }
  #begin{
    margin-right: 25%;
  }
  #end{
    margin-left: 25%
  }
  div{
    width: 50%;
  }
